<h2> <%= @victims.name%></h2>
<br>
<p>TIME OF DEATH : <%= @victims.time_of_death%></p>
<p>FINAL WORDS : <%= @victims.last_words%></p>
<br>
<form action="/victims/<%=@victims.id%>/edit">
  <input  type="submit" value="Edit Victim" class="myButton">
</form>

<br>
<form method="post" action="/victims/<%=@victims.id%>">
  <input  id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Victim" class="myButton">
</form>
<br>
<form action="/victims">
  <input type="submit" value="View All Victims" class="myButton">
</form>